.select {
    text-decoration: none;
    margin-left: 40px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #8E8EA9;

    width: 243px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DCDCE4;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    padding: 10px 0 10px 16px;
    position: relative;
}
.select:hover {
    border: 2px solid #4945FF;
    padding: 9px 0 9px 15px;
}
/* Зелена стрелошка*/
.polygon {

}

.activeLink {
    color: #00D29D;
}

.activeLink.components {
    color: #00B98A;
}

.submenu {
    position: absolute;
    display: none;
    width: inherit;
    top: 40px;
    left: 0;
    padding: 4px;
}

.submenu_item {
    display: flex;
    color: #302E2E;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
}

.submenu_item:hover {
    background: #F0F0FF;
}

#components:hover .submenu {
    z-index: 10;
    display: grid;
    width: inherit;

    background: #FFFFFF;
    border: 0.5px solid #EAEAEF;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(33, 33, 52, 0.1);
    border-radius: 4px;
}
