/* vars color */
$colour-block-size: 50px;
$colour-neutral-900: #212134;
$colour-neutral-800: #32324D;
$colour-neutral-700: #4A4A6A;
$colour-neutral-600: #666687;
$colour-neutral-500: #8E8EA9;
$colour-neutral-400: #A5A5BA;
$colour-neutral-300: #C0C0CF;
$colour-neutral-200: #DCDCE4;
$colour-neutral-150: #EAEAEF;
$colour-neutral-100: #F6F6F9;
$colour-neutral-0: #F6F6F9;

$colour-primary-700: #271FE0;
$colour-primary-600: #4945FF;
$colour-primary-500: #7B79FF;
$colour-primary-200: #D9D8FF;
$colour-primary-100: #F0F0FF;

$colour-danger-700: #B72B1A;
$colour-danger-600: #D02B20;
$colour-danger-500: #EE5E52;
$colour-danger-200: #F5C0B8;
$colour-danger-100: #FCECEA;

.neutral900 {
  background-color: $colour-neutral-900;
}

.neutral800 {
  background-color: $colour-neutral-800;
}

.neutral700 {
  background-color: $colour-neutral-700;
}

.neutral600 {
  background-color: $colour-neutral-600;
}

.neutral500 {
  background-color: $colour-neutral-500;
}

.neutral400 {
  background-color: $colour-neutral-400;
}

.neutral300 {
  background-color: $colour-neutral-300;
}

.neutral200 {
  background-color: $colour-neutral-200;
}

.neutral150 {
  background-color: $colour-neutral-150;
}

.neutral100 {
  background-color: $colour-neutral-100
}

.neutral0 {
  background-color: $colour-neutral-0;
  border: 1px solid #DCDCE4;
}

.primary700 {
  background-color: $colour-primary-700;
}

.primary600 {
  background-color: $colour-primary-600;
}

.primary500 {
  background-color: $colour-primary-500;
}

.primary200 {
  background-color: $colour-primary-200;
}

.primary100 {
  background-color: $colour-primary-100;
}

.danger700 {
  background-color: $colour-danger-700;
}

.danger600 {
  background-color: $colour-danger-600;
}

.danger500 {
  background-color: $colour-danger-500;
}

.danger200 {
  background-color: $colour-danger-200;
}

.danger100 {
  background-color: $colour-danger-100;
}